<head>
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .anim {
      background-color: red;
      animation-name: example;
      animation-duration: 5s;
    }

    @keyframes example {
        from {background-color: green;}
        to {background-color: red;}
      }
    
    </style>
    </head>
    <body>
    
    <div class="anim">
    <img src="https://i.imgflip.com/3qsrtt.jpg" alt="Paris" style="width:40%">
    </div>
    </body>