<html>
    <head>
        <title>Háromszög - Automata oktatás</title>
    </head>
    <body>
        <h1>Háromszög tipizálás {{id}}</h1>
        <p>Írta: Klucsik Krisztián Pál v0.1.2</p>
        <p>Ez az alkalmazás háromszögeket tipizál az oldalaik hossza alapján.</p>
        <p>Add meg a háromszög oldalainak hosszát az alábbi űrlapon és kattints a "Tipizálj!" gombra!</p>
        <p>A program ezután visszaadja a háromszög típusát az alábbi lehetőségek közül:</p>
        <ul>
            <li>Nem háromszög</li>
            <li>Szabályos háromszög</li>
            <li>Egyenlő szárú háromszög</li>
            <li>Általános háromszög</li>
            <p>
                <form action="" method="post" >
                <p>{{ form.a_oldal.label }}:  {{ form.a_oldal(size=5) }}</p>
                <p>{{ form.b_oldal.label }}:  {{ form.b_oldal(size=5) }}</p>
                <p>{{ form.c_oldal.label }}:  {{ form.c_oldal(size=5) }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </ul>
        <div>
            Verziók:
            <a href="/1">1</a>
            <a href="/2">2</a>
            <a href="/3">3</a>
            <a href="/4">4</a>
        </div>
    </body>
</html>